.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.right {
    align-self: flex-end;
} 