.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 16px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.right {
    align-self: flex-end;
} 

.itemOnDrag::after {
    width: 100%;
    left: 0%;
    height: 2px;
    background: #8585AD;
    opacity: .6;
    content: '';
    position: absolute;
    bottom: 0;
}
